PORT=3000

#Para los comentarios de la app
MOTHS_VISIBLE=3

# Cambiar a 'mysql', 'postgres', o 'sqlite'
#DB_DIALECT=sqlite
#DB_DIALECT=postgres
#DB_DIALECT=mysql

DB_STORAGE=./src/data/anti_social_red.sqlite # oara sqlite, con las demas BD no se tiene en cuenta

# Esto es por si se usa mysql o postgres, no se tiene en cuenta con slqite
DB_HOST=127.0.0.1
DB_USER=admin
DB_PASS=admin
DB_NAME=red_social_unahur